.loginPageWrap {
    text-align: center;
    min-height: 80vh;
    display: flex;
    align-items: center;
}
.loginPageWrap .pageContent {
    border-radius: 10px;
    border: 2px solid grey;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 20px;
}
.loginPageWrap .pageContent .textFieldWrap {
    margin: 10px;
}
.loginPageWrap .pageContent .rememberMe input{
    width: auto;
}
.loginPageWrap .pageContent .iconWrap .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgb(246, 242, 242);
    width: 40px;
    height: 40px;
    background-color: red;
    margin: auto;
}
