.loginPageWrap {
    text-align: center;
    min-height: 80vh;
    display: flex;
    align-items: center;
  
    .pageContent {
      border-radius: 10px;
      border: 2px solid grey;
      max-width: 600px;
      min-width: 400px;
      margin: auto;
      text-align: center;
      padding: 20px;
  
      .textFieldWrap {
        padding: 10px 0;
        width: 100%;
      }
  
      .rememberMe {
        display: flex;
        padding: 10px 0;
        input {
          margin-right: 10px;
         width: auto;
        }
      }

      .singUp{
        padding-top: 10px;
        a {
          padding-left: 10px;
        }
      }
      .seprator{
        padding: 10px 0;
      }
  
      .iconWrap {
        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          color: rgb(246, 242, 242);
          width: 40px;
          height: 40px;
          background-color: red;
          margin: auto;
        }
      }
    }
  }
  