.SignUpPageWrap {
    margin: auto;
    text-align: center;
}
.SignUpPageWrap .pageContent {
    border-radius: 10px;
    width: 50%;
    border: 2px solid grey;
    margin: auto;
    text-align: center;
    padding: 10px;
}
.SignUpPageWrap .pageContent .textFieldWrap {
    margin: 10px;
} 
.SignUpPageWrap .pageContent .iconWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgb(246, 242, 242);
    width: 40px;
    height: 40px;
    background-color: red;
    margin: auto;
}
