 .sectionTwo {
     display: flex;
     align-items: center;
     justify-content: space-between;
     height: 40vw;
     max-width: 1100px;
     margin: auto;
 }

 .sectionTwo .intro {
     font-size: 1.5rem;
     width: 100%;
 }

 .sectionTwo .intro .name {
     background: linear-gradient(to right, #13B0F5 0%, #E70FAA 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .sectionTwo .developerImage {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .sectionTwo .developerImage .imageWrap {
     height: 300px;
     width: 300px;
     display: flex;
     align-items: center;
 }

 .sectionTwo .developerImage img {
     border-radius: 50%;
     width: 100%;
 }


 @media (max-width:768px) {
     .sectionTwo {
         flex-direction: column;
         height: unset;
     }
 }

 .sectionThree {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 100%;
 }

 .sectionThree .sectionThreeLogo {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
 }

 .sectionThree .sectionThreeLogo img {
     padding: 4%;
     max-width: 120px;
 }

 .sectionThree .sectionThreeLogo .sectionThreeHead img {
     width: 6rem;
     margin: 4rem;
 }

 .sectionHead {
     font-size: 28px;
     color: #42466E;
     font-weight: bold;
 }


 .sectionFour .sectionFourTitleWrap {
     text-align: center;
 }

 .sectionFour .sectionFourCardWrap {
     display: flex;
     flex-wrap: wrap;
 }

 .sectionFour .sectionFourCardWrap .colWrap {
     flex-basis: 33%;
     margin: auto;

 }

 .sectionFour .sectionFourCardWrap .colWrap .cardBorder {
     border-radius: 10px;
     overflow: hidden;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     margin: 22px;
 }

 .sectionFour .sectionFourCardWrap .colWrap .cardBorder .cardImage {
     width: 100%;
     text-align: left;
 }

 .sectionFour .sectionFourCardWrap .colWrap .cardBorder .cardImage img {
     width: 100%;
     height: 16vw;
 }

 .sectionFour .sectionFourCardWrap .colWrap .cardBorder .cardContent {
     padding: 20px;
 }

 .sectionFour .sectionFourCardWrap .colWrap .cardBorder .cardContent .cardHeader {
     font-size: 20px;
     font-weight: bold;
 }

 .sectionFour .sectionFourCardWrap .colWrap .cardBorder .cardContent .operation {
     padding: 10px 0;
     text-overflow: ellipsis;
     height: 3em;
 }

 .sectionFour .sectionFourCardWrap .colWrap .cardBorder .cardFooter {
     display: flex;
     justify-content: space-between;
     padding: 20px;
 }