.pageHead {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1%;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch
}

.productContainer .productBorder {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 25%;
  margin: 10px;
}

.productContainer .productBorder .productContent {
  padding: 5px 10px;

}

.productContainer .productBorder .cardHeaderWrap .productImage {
  width: 100%;
  text-align: left;
}

.productContainer .productBorder .cardHeaderWrap .productImage img {
  width: 100%;
  height: 16vw;
}

.productContainer .productBorder .cardContentWrap .productName {
  font-size: 19px;
  font-weight: bold;
  padding: 10px 0;
  min-height: 50px;
  
}
.productContainer .productBorder .cardContentWrap .productDiscription {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.productContainer .productBorder .moreInformationWrap {
  min-height: 100px;
}

.productContainer .productBorder .moreInformationWrap .moreInformation {
  color: #089fa7;
}

.productContainer .productBorder .cardFooterWrap .price .oldPrice {
  text-decoration: line-through;
  color: red;
}

.productContainer .productBorder .cardFooterWrap .addListWrap {
  text-align: right;
  padding: 3% 2%;
}

.productContainer .productBorder .cardFooterWrap .addListWrap .addList {
  background-color: black;
  color: white;
  padding: 2%;
  border-radius: 10%;
}

.productContainer .productBorder .cardFooterWrap .addListWrap .addList:hover {
  border-radius: 15%;
  border: 3px solid grey;
}

.wishListWraper .wishList {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.wishListWraper ul.productSelected {
  display: inline-block;
  text-align: left;
}

.wishListWraper ul.productSelected .listBorder .remove {
  color: red;
}

.totalWraper {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}