.SignUpPageWrap {
    
}
.SignUpPageWrap .pageContent {
    padding: 20px;
    border-radius: 40px;
    justify-content: space-between;
    height: 40vw;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 5% auto;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.SignUpPageWrap .pageContent .rememberMe{
    display: flex;
}

.SignUpPageWrap .pageContent input {
    width: 100%;
    border-radius: 5px;
    height: 100%;
}

.SignUpPageWrap .pageContent .rememberMe input{
    width: auto;
}


.SignUpPageWrap .pageContent .loginHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SignUpPageWrap .pageContent .loginHeader .iconWrap{
    
}

.SignUpPageWrap .pageContent .loginHeader .iconWrap .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgb(246, 242, 242);
    width: 40px;
    height: 40px;
    background-color: red;
}
