.calculatorWrap {
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    width: 50%;
    margin: auto;
    padding: 1em;
}

.calculatorWrap .header{
    margin-top: 20px;
}

.calculatorWrap .inputOutput{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px;
    align-items: center;
}


.calculatorWrap .inputOutput .inputWrap{
    text-align: center;
    padding: 3px;
    border-radius: 9999em;
    margin: 5px;
    
}

.calculatorWrap .inputOutput .inputWrap input {
    border-radius: inherit;
    text-align: center;
}

.calculatorWrap .outputWrap .border {
    margin: 10px;
    color: rgb(98, 28, 28);
    padding: 6px;
    border-radius: 20px;
}
.calculatorWrap .output{
    width: 10%;
    margin: 10px auto;
}